<h2>Formulario de contacto</h2>
<form>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre y Apellido</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Direccion de mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary">Enviar</button>
</form>