<div id="tarjetas" class="row">
<div class="col-6">
<div class="card" style="width: 16rem;">
    <img src="./assets/images/perfil_fb.jpg" class="card-img-top" alt="La foto de Facebook">
    <div class="card-body">
      <h5 class="card-title">Facebook</h5>
      <p class="card-text">Es como una casa abandonada. Ojo con las telarañas!</p>
      <a href="https://www.facebook.com/tgensana" class="btn btn-primary">Ver Facebook</a>
    </div>
  </div>
</div>
<div class="col-6">
    <div class="card" style="width: 16rem;">
      <img src="./assets/images/perfil_tw.jpg" class="rounded mx-auto d-block" class="card-img-top" alt="La foto de Facebook">
      <div class="card-body">
        <h5 class="card-title">Twitter</h5>
        <p class="card-text">Menos tweet que pajarito mudo!</p>
        <a href="https://twitter.com/tuliogensana" class="btn btn-primary">Ver Twitter</a>
      </div>
    </div>
</div>
<div class="col-6">
    <div class="card" style="width: 16rem;">
      <img src="./assets/images/tg.jpg" class="card-img-top" alt="La foto de Facebook">
      <div class="card-body">
        <h5 class="card-title">LinkedIn</h5>
        <p class="card-text">Algunos detalles de la actividad laboral!</p>
        <a href="https://www.linkedin.com/in/tulio-gensana-83299555/" class="btn btn-primary">Ver LinkedIn</a>
      </div>
    </div>
</div>
<div class="col-6">
    <div class="card" style="width: 16rem;">
      <img src="./assets/images/perro.jpg" class="card-img-top" alt="La foto de Instagram">
      <div class="card-body">
        <h5 class="card-title">Instagram</h5>
        <p class="card-text">Casi con los naylons puestos!</p>
        <a href="https://www.instagram.com/tuliogensana/" class="btn btn-primary">Ver Instagram</a>
      </div>
    </div>
</div>
</div>